{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}
{% block body %}
    <h1>Création d'un nouveau produit</h1>
    {{ form_start(productForm) }}
        {{ form_widget(productForm) }}
    {{ form_end(productForm) }}
    <a href="{{ path('listProduct') }}">Annuler la création du produit</a>
{% endblock %}