{% extends 'base.html.twig' %}

{% block title %}Catalogue produit{% endblock %}
{% block body %}
        <h1>List of products</h1>
        <ul>
                {% for productName in productNames %}
                        <li>Product name : {{ productName }}</li>
                {% endfor %}
        </ul>
{% endblock %}