{% extends 'base.html.twig' %}

{% block title %}Catalogue produit{% endblock %}
{% block body %}
    <h1>Liste des produits</h1>
    <a href="http://127.0.0.1:8000/produit/create">Créer un nouveau produit</a>
    <ul>
        {% for product in products %}
            <li><a href="http://127.0.0.1:8000/produit/{{ product.getId() }}"><h1>Produit {{ product.getId() }} : {{ product.getNom() }}</h1></a>
                <p>{{ product.getRef }}s</p>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}